.body {
  border-top: 1px solid #EFEFEF;
  padding: 1rem 0;
}

.toggle {
  background-color: #D8D8D8;
  border-radius: 0.625rem;
  height: 1.25rem;
  margin: 0 auto;
  position: relative;
  width: 2.25rem;
}

.toggle::before {
  background-color: white;
  border-radius: 50%;
  content: '';
  height: 1rem;
  left: 0.125rem;
  position: absolute;
  top: 0.125rem;
  width: 1rem;
}
