.root {
  color: white;
}

.variant {
  justify-content: center;
  display: grid;
  grid-gap: 1.5rem;
  @desktop { grid-gap: 2rem; }
}

.variant + .variant {
  margin-top: 1.5rem;
  @desktop { margin-top: 2rem; }
}

.variant1 {
  grid-template-columns: 561px 388px 316px 280px 195px;
}

.variant2 {
  grid-template-columns: 247px 248px 208px 224px 601px 180px;
  grid-template-rows: 400px;
}

.variant3 {
  @desktop< { display: none; }
  grid-template-columns: 300px 214px 200px 208px 224px 300px 230px;
}

.variant4 {
  grid-template-columns: 5fr 4fr;
  width: 1100px;
}

.variant5 {
  grid-template: 5fr 7fr / repeat(15, 1fr);
  grid-template-areas: "f f f b b b a a a a g g g x x"
                       "c c c d d d a a a a e e e e e";
  height: 360px;
  width: 1100px;

  .search {
    grid-area: a;
  }

  .comment {
    grid-area: b;
  }

  .gradient {
    grid-area: d;
  }

  .email {
    grid-area: c;
  }

  .stream {
    grid-area: e;
  }

  .switcher {
    grid-area: x;
  }

  .expression {
    grid-area: f;
  }

  .rateLimit {
    grid-area: g;
  }
}

.variant6 {
  grid-template: 180px 180px auto / repeat(15, 1fr);
  grid-template-areas: "a a a a b b b b x x x x c c c c"
                       "a a a a d d d d d d d h h h h h"
                       "l l l y y y y y g g g h h h h h";
  width: 1100px;

  .ethereumCall {
    grid-area: a;
  }

  .comment {
    grid-area: b;
  }

  .button {
    grid-area: x;
  }

  .scheduler {
    grid-area: g;
  }

  .expression {
    grid-area: f;
  }

  .solidity {
    grid-area: d;
  }

  .table {
    grid-area: h;
  }

  .regex {
    grid-area: c;
  }

  .randomString {
    grid-area: k;
  }
  
  .clock {
    grid-area: y;
  }
  
  .mqtt {
    grid-area: l;
  }
}

.wideVariants {
  @tablet< { display: none; }
}

.narrowVariants {
  display: grid;
  @tablet { display: none; }
  grid-row-gap: 1.5rem;
  @desktop { grid-row-gap: 2rem; }
  justify-content: center;
}

.narrowVariants .variant {
  margin-top: 0;
}

.vFlex {
  display: flex;
  flex-direction: column;
}

.vSeparator {
  flex-grow: 0;
  flex-shrink: 0;
  height: 1.5rem;
  @desktop { height: 2rem; }
}

.root h1 {
  font-size: 1.75rem;
  @tablet { font-size: 2rem; }
  @desktop { font-size: 2.5rem; }
  font-weight: var(--regular);
  line-height: 1.42em;
  margin: 0 0 5.25rem;
  @tablet { margin-botton: 4.5rem; }
  @desktop { margin-bottom: 6rem; }
  text-align: center;
}
